<div class="container">
  <h4>Episood nr <%= @podcast.number %></h4>
  <hr>
  <br>
  <div class="row">
    <div class="col-5">
      <div class="custom-row">
        <strong>Pealkiri: </strong> <div class="val"> <%= @podcast.title %> </div>
        <br>
      </div>

      <div class="custom-row">
        <strong>Kirjeldus: </strong> <div class="val"> <%= @podcast.description %> </div>
        <br>
      </div>

      <div class="custom-row">
        <strong>Audiofail: </strong>
        <% if @podcast.recording.persisted? %>
          <div class='audio-player'>
            <audio src=<%= Rails.env.production? ? @podcast.recording.url : Rails.application.routes.url_helpers.rails_blob_path(@podcast.recording, only_path: true) %> controls></audio>
          </div>
        <% else %>
          -
        <% end %>
        <br>
      </div>
      <br>
    </div>
  </div>
  <br>
</div>
